body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #fff;
    /* background-color: #000000; */
    /* background: rgb(red, green, blue); */

}
.sporty{
    color: red;
}
/* hex values */
.casual{
    color: #e04553;
}
.cards{
    background-color: rgba(red, green, blue, alpha);
}