body {
  font-family: Arial, sans-serif;
}
.flex-container{
  background-color: lightblue;
  width: 100%;
  display: flex;
}
.flex-item{
  background-color: coral;
  border: 1px solid black;
  padding: 20px;
  width: 200px;
  flex: 1 0 0;

}

.item-2{
  flex: 3;
}
.item-3{
  flex: 2;
}