* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --page-1-color: steelblue;
  --page-2-color: tan;
  --page-3-color: teal;
  --page-4-color: slateblue;
  --animate-speed: 2s;
}
html,
body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
.page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0 3rem;
  color: white;
  h1{
    font-size: 4rem;
    line-height: 1.2rem;
    margin: 2rem;
  }
  p{
    font-size: 1.3rem;
  }
}
/* Page colors */
#page-1{
  background-color: var(--page-1-color);
}
#page-2{
  background-color: var(--page-2-color);
}
#page-3{
  background-color: var(--page-3-color);
}
#page-4{
  background-color: var(--page-4-color);
}

.btn{
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #f4f4f4;
  color: #333;
  text-decoration: none;
  border-top: 1.1rem;
  border: none;
  transition: all 0.5s ease-in;
  &:hover{
    background-color: #333;
    color: white;
  }
}
.btn-dark{
  background-color: #333;
  color: white;
  &:hover{
    opacity: 0.9;
  }
}

#page-1{
  h1{
    transform: translateY(-1200px);
    animation: HeadingMove var(--animate-speed) forwards ease-in;
  }
  p{
    transform: translateX(-1800px);
    animation: ParagraphMove var(--animate-speed) forwards ease-in;
  }
}

@keyframes HeadingMove {
  to{
    transform: translateY(0);
  }
  
}
@keyframes ParagraphMove {
  to{
    transform: translateX(0);
  }
}
@media(max-width:768px){
  .page{
    h1{
      font-size: 2.2rem;
      line-height: 2.1rem;
    }
    p{
      font-size: 1.1rem;
    }
  }
}
